.container {
  font-size: 20px;
  border-radius: 5px;
  position: absolute;
  width: 100vh;
  z-index: 10000;
}

.container > .wrapper {
  display: flex;
  padding: 10rem;
  justify-content: center;
  align-items: center;
}

.container > .wrapper > a:visited {
  color: initial;
  text-decoration: none;
}

.container > .wrapper > button.btn {
  outline: none;
  border: 1px solid #555;
  padding: 2rem 5rem;
}
